.idea/*
*.user
/Client/obj/Debug
/ImageManager/obj/Debug
/Launcher/obj/Debug
/Library/obj/Debug
/PatchManager/obj/Debug
/Patcher/obj/Debug
/Server/obj/Debug
/Client/obj/Release
/ImageManager/obj/Release
/Launcher/obj/Release
/Library/obj/Release
/PatchManager/obj/Release
/Patcher/obj/Release
/Server/obj/Release
/.vs/Zircon Server/v15/Server/sqlite3
/LibraryEditor/obj
/LibraryEditor/bin
/Build/LibraryEditor/Exported
/.vs/Zircon Server/v15/*.suo
/Build/LibraryEditor
/Client/confuserEx

/packages/Ionic.Zlib.1.9.1.5
